* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(230, 230, 230);
}

/* header */

.text-cener{
  text-align: center;
}


.container {
  display:flex;
  align-items: center;
  justify-content: flex-start;
}

.logotype {
  font-size: xx-large;
  font-weight: 700;
}

.logo {
  margin: 10px;
}

header {
  background-color: white;
  vertical-align: middle;
  border-bottom: 4px solid rgb(210, 210, 210);
}

/* board */

.board {
  background-color: white;
  width: 70%;
  margin-left:  auto;
  margin-right:  auto;
  margin-bottom: 2px;
  padding: 12px 50px;
  border-radius: 12px;
}

.actionbar {
  margin-top: 20px;
  border-bottom: 2px solid rgb(210, 210, 210);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

main {
  margin: auto;
}

input {
  padding: 2px;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
}

button {
  color: white;
  background-color: rgb(255, 0, 0);
  padding: 3px 8px;
  border-radius: 4px;
}

#active {
  margin-left: 12px;
  background-color: rgb(80, 179, 218);
  color: white;
  border: 1px solid rgb(80, 179, 218); 
}

.arrow {
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid rgb(0, 0, 0);
}

h3, h4 {
  margin-left: 12px;
}

h5 {
  font-weight:500;
}

h5.done {
  text-decoration: line-through;
}

.X , .V {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 2px;
}

.V::before {
  height: 14px;
  width: 11px;
  content: "✔";
  border-radius: 50%;
  border: 2px solid green;
  color: green;
  padding-left: 3px;
  font-size: 10px;
  margin-right: 8px;
}

.X::before {
  height: 14px;
  width: 11px;
  content: "✘";
  border-radius: 50%;
  border: 2px solid red;
  color: red;
  padding-left: 3px;
  font-size: 10px;
  margin-right: 8px;
}

.title {
  display: flex;
  align-items: center;
  padding: 18px;
}

.line {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 7px;
  background-color: rgb(230, 230, 230);
/*  padding: 6px; */
}
